*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-snap-type: y mandatory;
    /* scrollbar-width: none; */
}

html,
body {
    height: 100%;
    width: 100%;
}
.pages{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page0{
    
    scroll-snap-align: start;
}
#page1{
    scroll-snap-align: start;
}
#page2{
    scroll-snap-align: start;
}
#page3{
    scroll-snap-align: start;
}
#page4{
    scroll-snap-align: start;
}
#page5{
    scroll-snap-align: start;
}
#page6{
    scroll-snap-align: start;
}
#page7{
    /* background-color: rgb(185, 39, 39); */
    scroll-snap-align: start;
}

.frontContent {
    display: flex;
}

/* background css */
.mainContent {
    /* background-color: #0c192c; */
    position: relative;
    width: 100%;
    height: 100vh;
}
.contentBack {
    background-color: #0c192c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.bubbles {
    position: relative;
    display: flex;
    z-index: -1;
}
.bubbles span {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 
    0 0 50px #4fc3dc, 
    0 0 100px #4fc3dc;
    animation: animate 20s linear infinite;
    animation-duration: calc(200s / var(--i));
}
.bubbles span:nth-child(even) {
    background-color: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 
    0 0 50px #ff2d75, 
    0 0 100px #ff2d75;
}
#frontContent {
    position: relative;
    z-index: 1;
}
@keyframes animate {
    0% {
        transform: translateY(200vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}

/* images-style */

.images {
    height: 500px;
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 4%;
    margin-left: 1%;
    background-color: black;
    z-index: 1;
}

.images::before {
    content: '';
    position: absolute;
    width: 180px;
    height: 140%;
    background-color: white;
    box-shadow: 0 0 5px rgb(8, 8, 8);
    animation: border_animate 4s linear infinite;
}
  
#one_gin::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-image: url(images/one_gin.jpg);
    background-size: cover;
    border-radius: 5px;
}

#two_shadow::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-image: url(images/two_shadow.jpg);
    background-size: cover;
    border-radius: 5px;
}

#three_gojo::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-image: url(images/three_gojo.jpg);
    background-size: cover;
    border-radius: 5px;
}

#four_ayanokoji::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-image: url(images/four_ayanokoji.jpg);
    background-size: cover;
    border-radius: 5px;
}

#five_vanitas::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-image: url(images/five_vanitas.jpg);
    background-size: cover;
    border-radius: 5px;
}
  
@keyframes border_animate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

.vids {
    border: 2px solid white;
    display: flex;
    position: relative;
    margin-left: 35%;
    margin-top: 4%;
    height: 400px;
    width: 400px;
}